<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>404页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Sleet Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- font files -->
    <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
    <!-- /font files -->
    <!-- css files -->
    <link th:href="@{/404/css/style.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{404/css/font-awesome.css}" rel="stylesheet" type="text/css" media="all">

    <!-- /css files -->

</head>
<body>

<div class="container-w3layouts  text-center">
    <div class="agileits-logo">
        <h1>
            <a th:href="@{/index}">
                <span class="fa fa-spinner" aria-hidden="true"></span>sleet</a>
        </h1>
    </div>
    <h2 class="txt-wthree">error 404</h2>
    <p>Looks like the page you are trying to visit does not exist
        <br> Please check the URL and Try again.</p>
    <div class="home">
        <a th:href="@{/index}">home</a>
    </div>
</div>
</body>
</html>